@import "./base.css";

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}


@media (min-width: 1024px) {
  body {
    display: flex;
    width:100%;
  }

  #app {
    display: grid;
    padding: 0 2rem;
    width:100%;
  }
}
